@import "../../scss/variables";
@import "../../scss/utils";

/* Navbar */
.navbar {
  position: -webkit-sticky; // required for Safari
  position: sticky;
  top: 0; // required as well.
  z-index: 100;
  height: $nav-size;
  background: $bg;
  padding: 0 0;
  border-bottom: $border;

  .logo {
    $button-size: calc(#{$nav-size} * 0.85);
    width: $button-size;
    height: $button-size;
    margin: 4.125px 0;
    margin-left: 10px;
  }
}

.navbar-nav {
  // Controls the position of the right hand menu nav items
  max-width: 100%;
  top: 0;
  right: 0;
  margin-right: 1vw;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.nav {
  &-item {
    width: calc(#{$nav-size} * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-user {
    cursor: pointer;
    width: calc(#{$nav-size} * 2);
    border-radius: 25px;
    padding: 2px 2px 2px 0px;
    margin: 8px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;
    transition: background-color $filter-speed;

    &:hover {
      background-color: $bg-accent;
    }
  }
}
