@import "../../scss/variables";
@import "../../scss/utils";

.messenger {
  display: flex;
  width: clamp(18vw, 200px, 20vw);
  flex-direction: column;

  .friend {
    $content-padding: 10px;
    color: $text-color;
    background-color: $bg-body;
    margin: 0px;
    margin-right: 2vw;
    // margin-left: 2vw;
    padding: $content-padding;
    border-radius: 10px;

    &-item {
      @extend .friend;
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: start;
      border-radius: $border-radius;
      transition: background $speed;
      padding: 0.5rem;
      //   margin-right: 0.5rem;
    }

    &-item:hover {
      background-color: #525357;
      cursor: pointer;
    }

    &-image {
      text-align: center;
      .img-wrapper {
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    padding-inline: 0.5rem;
    padding-right: 0.5rem;
    color: $text-color-alt;
  }

  .username {
    display: flex;
    font-size: 1.05rem;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
  }

  .active {
    &-container {
      position: relative;
    }

    &-dot {
      background: green;
      border-radius: 50%;
      border: 2px solid $bg-body;
      position: absolute;
      z-index: 10;
      bottom: 0;
      transform: translateY(155%);
      width: 12px;
      height: 12px;
    }

    &-last {
      background-color: #364a37;
      border: 2px solid $bg-body;
      color: #43a059;
      padding-right: 22px;
      padding-left: 2px;
      padding-bottom: 7px;
      border-radius: 10px;
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 5px;
      transform: translate(70%, 140%);
      width: 12px;
      height: 12px;
    }
  }

  .time {
    color: $text-color-alt;
    font-size: 0.75rem;
    display: block;
  }
}
