@import "../../scss/variables";
@import "../../scss/utils";

.messenger {
  position: fixed;
  right: 0;
  width: clamp(18vw, 200px, 20vw);
  flex-direction: column;
  display: flex;

  .friend {
    color: $text-color;
    background-color: $bg-body;
    margin: 0px;
    margin-right: 1vw;
    border-radius: 10px;

    &-item {
      @extend .friend;
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: start;
      border-radius: $border-radius;
      transition: background $speed;
      //   margin-right: 0.5rem;
    }

    &-item:hover {
      background-color: #525357;
      cursor: pointer;
    }

    &-image {
      text-align: center;
      .img-wrapper {
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    color: $text-color-alt;
    line-height: 0;
    font-weight: 300;
  }

  .username {
    display: flex;
    font-size: 0.95rem;
    line-height: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }

  .active {
    &-container {
      position: relative;
    }

    &-dot {
      background: limegreen;
      border-radius: 50%;
      border: 2px solid $bg-body;
      position: absolute;
      z-index: 10;
      bottom: 0;
      transform: translateY(145%);
      width: 8px;
      height: 8px;
    }

    &-last {
      background-color: #364a37;
      border: 2px solid $bg-body;
      color: limegreen;
      padding-right: 22px;
      padding-left: 2px;
      padding-bottom: 7px;
      border-radius: 10px;
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 5px;
      transform: translate(70%, 140%);
      width: 5px;
      height: 8px;
      font-size: 0.75rem;
    }
  }

  .time {
    color: $text-color-alt;
    font-size: 0.75rem;
    display: block;
  }
}
