@import "./scss/variables";
@import "./scss/utils";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-body;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $text-color;
}

b,
h1,
h2 {
  color: $text-color;
}

.sub {
  &-title {
    color: $text-color;
    font-weight: 500;
    line-height: 1.25rem;
    white-space: nowrap;
  }

  &-text {
    color: $text-color;
    font-weight: 300;
  }
}

.sub-text {
  color: $text-color;
  font-weight: 300;
  white-space: nowrap;
}

hr {
  color: $border-color;
  border: 0.15px solid $border-color;
}

/* Navbar */

.navbar {
  height: $nav-size;
  background: $bg;
  padding: 0 1rem;
  border-bottom: $border;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(#{$nav-size} * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nav Icons */

.icon {
  &-button {
    $button-size: calc(#{$nav-size} * 0.5);
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 300ms;

    &__BG {
      @extend .icon-button;
      background-color: #484a4d;
    }

    &__noBG {
      @extend .icon-button;
      background-color: none;
      &:hover {
        background-color: #484a4d;
      }
    }

    &:hover {
      filter: brightness(1.2);
    }

    svg {
      fill: $text-color;
      width: 20px;
      height: 20px;
    }

    &-active {
      background-color: #243750;
    }

    &-active svg {
      fill: #2d86ff !important;
    }
  }

  &-right {
    margin-left: auto;
  }

  &-left {
    margin-right: 0.5rem;
  }

  &-privacy {
    display: inline-block;
    position: absolute;
    margin-left: 0.25rem;

    svg {
      fill: $text-color-alt;
      width: 15px;
      height: 15px;
    }
  }

  &-account {
    $button-size: calc(#{$nav-size} * 0.65);
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    padding: 5px;
    margin: 20x;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 300ms;
    background-color: #484a4d;

    &:hover {
      filter: brightness(1.2);
    }

    svg {
      fill: $text-color;
      width: 20px;
      height: 20px;
    }

    &__small {
      @extend .icon-account;
      $button-size: calc(#{$nav-size} * 0.7);
      width: $button-size;
      height: $button-size;
    }
  }

  &-like {
    margin-right: 0.5rem;
    svg {
      fill: $text-color-alt;
    }
  }

  &-comment {
    margin-right: 0.5rem;
  }
  &-share {
    margin-right: 0.5rem;
  }
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 50px;
  /* width: 15.63vw; */
  width: 360px;
  transform: translateX(-45%);
  background-color: $bg;
  border: $border;
  border-radius: $border-radius;
  padding: 1rem;
  overflow: hidden;
  z-index: 100;

  transition: height $speed ease;

  &-footer {
    font-weight: 300;
    font-size: 0.95rem;
    a:link {
      color: $text-color;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.menu {
  width: 100%;

  &-item,
  &-header {
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    transition: background $speed;
    padding: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
  }

  &-item:hover {
    background-color: #525357;
  }
}

/* MAIN MENU */
/* CSS is doing the animations */
/* Slide In to the right? */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all $speed ease;
}

/* Slide Out */
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all $speed ease;
}

/* SECONDARY MENU */
/* Slide In to the left */
.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all $speed ease;
}

/* Slide Out */
.menu-secondary-exit {
  position: absolute;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all $speed ease;
}
