$bg: #242526;
$bg-body: #18191a;
$bg-accent: #48414d;
$text-color: #dadce1;
$nav-size: 55px;
/* --nav-size: 3.13vw; */
$border: 1px solid #474a4d;
$border-color: #474a4d;
$border-radius: 8px;
$speed: 500ms;
