$bg: #242526;
$bg-body: #18191a;
$bg-accent: #3a3b3c;

$text-color: #dadce1;
$text-color-alt: #b0b3b8;
$text-color-blue: #2078f4;
$nav-size: 55px;
/* --nav-size: 3.13vw; */
$border: 1px solid #484a4d;
$border-color: #484a4d;
$border-radius: 8px;

// Sets the width for posts and nav shortcuts
$content-width: clamp(33vw, 680px, 35vw);

$speed: 500ms;

$filter-speed: 200ms;
$filter-effect: brightness(1.1);
