@import "../../scss/variables";
@import "../../scss/utils";

.feed {
  display: flex;
  width: clamp(60vw, 1200px, 66vw);
  margin: 0 auto;
  flex-direction: column;

  align-items: center;

  .content {
    font-size: 1.2rem;
  }
  .post {
    $content-padding: 10px;
    color: $text-color;
    background-color: #242526;
    margin: 10px;
    padding: $content-padding;
    border-radius: 10px;
    width: clamp(33vw, 680px, 35vw);

    &-engagement {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &-comment {
      display: flex;
      justify-content: flex-end;

      &__input {
        padding: 8px 12px;
        margin-right: auto;

        background-color: #3a3b3c;

        font-size: 1rem;
        color: $text-color;
        border-radius: 25px;
        border: 0px;

        width: 85%;
        height: 30px;
        &:focus {
          outline-color: transparent;
          outline-style: none;
        }
      }
    }

    &-item {
      height: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius;
      transition: background $speed;
      padding: 0.5rem;
      margin-right: 0.5rem;
    }

    &-item:hover {
      background-color: #525357;
    }

    &-image {
      text-align: center;
      .img-wrapper {
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
  }

  .top {
  }

  .username {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5em;
  }

  .time {
    color: $text-color-alt;
    font-size: 0.75rem;
    display: block;
  }

  .content {
    padding: 0.5rem;
  }
}
