@import "../../scss/variables";
@import "../../scss/utils";

.feed {
  display: flex;
  width: clamp(60vw, 1200px, 66vw);
  margin: 0 auto;
  flex-direction: column;

  align-items: center;

  .content {
    font-size: 1.2rem;
  }
  .post {
    $content-padding: 12px;
    color: $text-color;
    background-color: #242526;
    margin: 10px;
    padding: $content-padding;
    border-radius: 10px;
    width: clamp(33vw, 680px, 35vw);

    // Comment Section of Posts
    &-comment {
      display: flex;
      justify-content: flex-end;

      // Styles the input box
      &__input {
        padding: 8px 12px;
        margin: 6px auto 6px 8px;

        background-color: #3a3b3c;

        font-size: 1rem;
        color: $text-color;
        border-radius: 25px;
        border: 0px;

        width: 85%;
        height: 30px;
        transition: filter $filter-speed;
        &:hover {
          filter: $filter-effect;
        }
      }

      // Styles each post comment content

      &__content {
        padding: 8px 12px;
        margin: 4px auto 4px 8px;

        background-color: #3a3b3c;

        font-size: 1rem;
        color: $text-color;
        border-radius: 15px;
        border: 0px;

        & > b {
          line-height: 0.75em;
        }

        & > a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      &__engagement {
        margin: 4px auto 4px 20px;
        & > a {
          text-decoration: none;
          &:hover {
            color: $text-color-blue;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    // Post Engagement Section
    &-engagement {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      // Like | Comment | Share
      &-action {
        @extend .post-engagement;
        height: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        transition: background $speed;
        padding: 0.5rem;
        margin-right: 0.5rem;

        // Hover Effect
        &:hover {
          cursor: pointer;
          background-color: #525357;
        }
      }
    }

    // Styles image included in the post
    &-image {
      text-align: center;
      .img-wrapper {
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  // Styles the header
  .header {
    display: flex;
    flex-direction: row;
  }

  .username {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5em;
  }

  .time {
    color: $text-color-alt;
    font-size: 0.75rem;
    display: block;
  }

  .content {
    padding: 0.5rem;
  }
}
